body {
    background: #227c9dff;
    padding: 0;
    margin: 0;
}
.navbar {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background: white;
    max-width: 960px;
    height: 100px;
}
.navbar-items { 
    list-style: none; 
    margin-left: auto;  
    display: flex; }
.navbar-item { font-size: 2rem; margin: 10px; }
.navbar-item:hover { cursor: pointer; }
h1 {
    font-size: 3rem;    
    text-align: center;
    color: aliceblue;
}