body {
    padding: 0;
    margin: 0;
    background: #023047ff;
    color: whitesmoke;
}
a {
    color: whitesmoke;
    font-size: 1.6rem;
}
li {
    list-style: none;
    padding: none;
    margin: none;
}
.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}
.page-title {
    text-align: center;
    width: 100%;
}
.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 27%;
    justify-items: center;
    padding: 20px;

}
.avatar-pic {
    background: white;
    border-radius: 50%;
    max-width: 100px;
}
.author-container { padding: 5px; }
.deal-container { background: rgba(255, 255, 255, 0.1); }
.deal-title { font-size: 2.4rem; }
.blog-container { width: 48%; }
.blog-title { font-size: 3rem; }
.blog-container > h3 { font-size: 2rem; }
.blog-container > p { font-size: 1.4rem; }
.right-container {
    height: 300px;
    width: 20%;
    padding: 5px;
    background: rgba(0,0,0,.25);
}
.toc-title {
    font-size: 2rem;
    text-align: center;
}