body {
    padding: 0;
    margin: 0;
    background: #023047ff;
    color: whitesmoke;
}
a {
    color: whitesmoke;
    font-size: 1.6rem;
}
li {
    list-style: none;
    padding: none;
    margin: none;
}
.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display:grid;
    grid-template-columns: 3fr 5fr 2fr;
    grid-gap: 30px; */
    justify-items: center;
}
.page-title {
    text-align: center;
    /* order: -1; */
    width: 100%;
    /* grid-column: 1 / -1; */
}
.left-container {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px; */
    /* order: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 27%;
    justify-items: center;
    /* background: rgba(0,0,0,.25); */
    padding: 20px;

}
.avatar-pic {
    background: white;
    border-radius: 50%;
    max-width: 100px;
}
.author-container {
    padding: 5px;
}
.author-info {
    background: red;
}
.deal-container {
    /* grid-column: 1/ 2;
    grid-row: 3 / 4; */
    /* order: 3; */
    /* width: 100%; */
    background: rgba(255, 255, 255, 0.1);
    /* padding: 20px; */
}
.deal-title {
    font-size: 2.4rem;
}
.blog-container {
    /* order: 2; */
    width: 48%;
    /* grid-row: span 3; */
}
.blog-title {
    font-size: 3rem;
}
.blog-container > h3 {
    font-size: 2rem;
}
.blog-container > p {
    font-size: 1.4rem;
}
.right-container {
    height: 300px;
    /* order: 3; */
    width: 20%;
    padding: 5px;
    background: rgba(0,0,0,.25);
}
.toc-title {
    font-size: 2rem;
    text-align: center;
}